
            <!-- page title area start -->
            <div class="page-title-area">
                <div class="row align-items-center">
                    <div class="col-sm-6">
                        <div class="breadcrumbs-area clearfix">
                            <h4 class="page-title pull-left">Dashboard</h4>
                            <ul class="breadcrumbs pull-left">
                                <li><a href="index.html">Home</a></li>
                                <li><span>Products</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6 clearfix">
                        <div class="user-profile pull-right">
                            <%= image_tag "author/avatar", alt: "avatar", class: "avatar user-thumb" %>
                            <h4 class="user-name dropdown-toggle" data-toggle="dropdown">Kumkum Rai <i class="fa fa-angle-down"></i></h4>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Message</a>
                                <a class="dropdown-item" href="#">Settings</a>
                                <a class="dropdown-item" href="#">Log Out</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- page title area end -->
            <div class="main-content-inner">
                <div class="catalog">
                    <% @catalog.each do |cat| %>
                       <%= cat[:type] %>
                    <% end %>
                </div>
                <!-- market value area start -->
                <div class="row mt-5 mb-5">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-sm-flex justify-content-between align-items-center">
                                    <h4 class="header-title mb-0">Market Value And Trends</h4>
                                    <select class="custome-select border-0 pr-3">
                                        <option selected>Last 24 Hours</option>
                                        <option value="0">01 July 2018</option>
                                    </select>
                                </div>
                                <div class="market-status-table mt-4">
                                    <div class="table-responsive">
                                        <table class="dbkit-table">
                                            <tr class="heading-td">
                                                <td class="mv-icon">Logo</td>
                                                <td class="coin-name">Coin Name</td>
                                                <td class="buy">Buy</td>
                                                <td class="sell">Sells</td>
                                                <td class="trends">Trends</td>
                                                <td class="attachments">Attachments</td>
                                                <td class="stats-chart">Stats</td>
                                            </tr>
                                            <tr>
                                                <td class="mv-icon">
                                                    <%= image_tag "icon/market-value/icon1", alt: "icon" %>
                                                </td>
                                                <td class="coin-name">Dashcoin</td>
                                                <td class="buy">30% 
                                                    <%= image_tag "icon/market-value/triangle-down", alt: "icon" %>
                                                </td>
                                                <td class="sell">20% 
                                                     <%= image_tag "icon/market-value/triangle-up", alt: "icon" %>
                                                </td>
                                                <td class="trends">
                                                    <%= image_tag "icon/market-value/trends-up-icon", alt: "icon" %>
                                                </td>
                                                <td class="attachments">$ 56746,857</td>
                                                <td class="stats-chart">
                                                    <canvas id="mvaluechart"></canvas>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="mv-icon">
                                                    <div class="mv-icon">
                                                        <%= image_tag "icon/market-value/icon2", alt: "icon" %>
                                                    </div>
                                                </td>
                                                <td class="coin-name">LiteCoin</td>
                                                <td class="buy">30% 
                                                    <%= image_tag "icon/market-value/triangle-down", alt: "icon" %>
                                                </td>
                                                <td class="sell">20% 
                                                    <%= image_tag "icon/market-value/triangle-up.png", alt: "icon" %>
                                                </td>
                                                <td class="trends">
                                                    <%= image_tag "icon/market-value/trends-down-icon", alt: "icon" %>
                                                </td>
                                                <td class="attachments">$ 56746,857</td>
                                                <td class="stats-chart">
                                                    <canvas id="mvaluechart2"></canvas>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="mv-icon">
                                                    <div class="mv-icon">
                                                        <%= image_tag "icon/market-value/icon3", alt: "icon" %>
                                                    </div>
                                                </td>
                                                <td class="coin-name">Euthorium</td>
                                                <td class="buy">30% 
                                                    <%= image_tag "icon/market-value/triangle-down", alt: "icon" %>
                                                </td>
                                                <td class="sell">20% 
                                                    <%= image_tag "icon/market-value/triangle-up", alt: "icon" %>
                                                </td>
                                                <td class="trends">
                                                    <%= image_tag "icon/market-value/trends-up-icon", alt: "icon" %>
                                                </td>
                                                <td class="attachments">$ 56746,857</td>
                                                <td class="stats-chart">
                                                    <canvas id="mvaluechart3"></canvas>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="mv-icon">
                                                    <div class="mv-icon">
                                                        <%= image_tag "icon/market-value/icon4", alt: "icon" %>
                                                    </div>
                                                </td>
                                                <td class="coin-name">Bitcoindash</td>
                                                <td class="buy">30% 
                                                    <%= image_tag "icon/market-value/triangle-down", alt: "icon" %>
                                                </td>
                                                <td class="sell">20% 
                                                    <%= image_tag "icon/market-value/triangle-up", alt: "icon" %>
                                                </td>
                                                <td class="trends">
                                                    <%= image_tag "icon/market-value/trends-up-icon", alt: "icon" %>
                                                </td>
                                                <td class="attachments">$ 56746,857</td>
                                                <td class="stats-chart">
                                                    <canvas id="mvaluechart4"></canvas>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- market value area end -->
               
            </div>